<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Probando Api</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/css/style.css" >
        <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>


</html>